.reports {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 50px 0;

    @media only screen and (max-width: 425px) {
        grid-template-columns: 1fr;
    }

    .report-card {
        @media only screen and (max-width: 425px) {
            width: 300px;
        }

        width: 400px;
        height: 300px;
        background-color: #fff;
        border-radius: 20px;
        flex: none;
        border-radius: 12px;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 -1px 20px rgba(110, 110, 115, .1);

        .card-title {
            height: 50%;
            border: 2px solid #f4f5f6;
            padding: 30px 30px 15px;
        }

        .card-details {

            // height: 30%;
            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    color: var(--orange-color);
                    margin: 0;
                    padding: 0;
                }
            }

            background-color: #f4f5f6;
            border-radius: 0 0 12px 12px;
            padding: 15px 30px 30px;
        }
    }
}