.counter{
    position: relative;
    padding: 120px 0 80px;

    &-title{
        position: absolute;
        top: 0;
        left: 50%;
        text-transform: uppercase;
        transform: translate(-50%, -25px);
        margin: 0;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--grey-color);
        font-size: 240px;
        line-height: 1;
    }

    &-container{
        position: relative;
        z-index: 1;
        text-align: center;
    }

    &-list{
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &-item{
        &__title{
            margin-top: 0;
            margin-bottom: 8px;
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: -1px;
            color: var(--blue-color);
        }

        &__text{
            margin: 0;
            font-size: 16px;
            color: var(--blue-color);
        }
    }

}

@media only screen and (max-width: 1100px) {
    .counter{
        &-title{
            font-size: 180px;
            transform: translate(-50%, -18px);
        }

        &-list{
            flex-wrap: wrap;
        }

        &-item{
            flex-basis: calc(50% - 15px);
        }
    }
}

@media only screen and (max-width: 850px) {
    .counter{
        &-title{
            font-size: 100px;
            transform: translate(-50%, -10px);
        }
    }
}

@media only screen and (max-width: 700px) {
    .counter{
        &-container{
            &__heading.title-lg{
                font-size: 40px;
                line-height: 48px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .counter{
        &-list{
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 500px) {
    .counter{
        &-title{
            font-size: 70px;
            transform: translate(-50%, -7px);
        }
    }
}