.about-services{
    position: relative;
    padding: 90px 0;

    &__title{
        position: absolute;
        top: 0;
        left: 50%;
        text-transform: uppercase;
        transform: translate(-50%,-25px);
        margin: 0;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(204, 204, 204, 0.4);
        font-size: 240px;
        line-height: 1;
    }

    &__container{
        &-title{
            text-align: center;
        }
        
        &-heading{
            text-align: center;
        }
    }

    &__list{
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    &__item{
        flex-grow: 1;
        flex-basis: calc(33% - 12px);
        padding: 55px 50px;
        border: 2px solid #fafafa;
        position: relative;

        &::before{
            content: "";
            width: 0;
            height: 5px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--orange-color);
            transition: 0.3s;
        }

        &:hover::before{
            width: 100%;
        }

        &-img{
            margin-bottom: 30px;
        }

        &-title{
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 19px;
            text-transform: uppercase;
            color: var(--blue-color);
            font-weight: 700;
        }

        &-text{
            margin: 0;
            font-size: 16px;
            line-height: 29px;
            font-weight: normal;
            color: var(--blue-color);
        }
    }
}

.about-info{
    padding: 120px 0;
    background: url("../../assets/images/building-sketch-bg.png") no-repeat center 0%;
    background-size: cover;

    &__container{
        display: flex;
        align-items: center;
        gap: 60px;
    }

    &__wrapper{
        position: relative;
        max-width: 50%;
        width: 100%;
        padding-bottom: 245px;

        &-worker-img{
            position: absolute;
            left: 25%;
            top: 30%;
        }
    }

    &__details{
        max-width: 50%;
        width: 100%;

        &-title.title-sm{
            margin-bottom: 14px;
        }

        &-heading.title-lg{
            margin-bottom: 8px;
        }

        &-text{
            margin-top: 0;
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 28px;
            color: var(--blue-color);
            max-width: 440px;
        }
    }

    &__experience{
        display: flex;
        background-color: #fff;
        padding: 35px 25px 35px 35px;
        border-bottom: 4px solid var(--orange-color);
        -webkit-box-shadow: 0px 20px 40px 0px rgba(255, 94, 20, 0.3);
        box-shadow: 0px 20px 40px 0px rgba(255, 94, 20, 0.3);
        
        &-year{
            margin: 0 25px 0 0;
            font-size: 80px;
            line-height: 65px;
            color: var(--orange-color);
            font-weight: bold;
            
            sub{
                position: relative;
                font-size: 25px;
                line-height: 1;
                bottom: 15px;
            }
        }
        
        &-title-sm{
            margin-top: 0;
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 1;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--blue-color);
        }

        &-title-lg{
            margin-top: 0;
            margin-bottom: 0;
            color: var(--blue-color);
            font-size: 40px;
            line-height: 1;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 1150px) {
    .about-services{
        &__title{
            font-size: 180px;
            transform: translate(-50%,-18px);
        }
    }

    .about-info{
        &__wrapper{
            &-worker-img{
                left: 12%;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .about-services{
        &__list{
            flex-wrap: wrap;
        }
    }

    .about-info{
        &__wrapper{
            &-worker-img{
                left: 12%;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .about-info{
        &__container{
            flex-direction: column;
        }

        &__wrapper{
            max-width: 100%;
            &-worker-img{
                left: 25%;
            }
        }

        &__details{
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 850px) {
    .about-services{
        &__title{
            font-size: 100px;
            transform: translate(-50%,-10px);
        }
    }
}


@media only screen and (max-width: 700px) {
    .about-services{
        &__list{
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 650px) {
    .about-info{
        &__wrapper{
            padding-bottom: 0;
            
            
            &-img{
                width: 100%;
            }

            &-worker-img{
                display: none;
            }
        }

        &__details{
            max-width: 100%;

            &-heading.title-lg{
                font-size: 40px;
                line-height: 48px;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .about-services{
        &__title{
            font-size: 60px;
            transform: translate(-50%,-6px);
        }

        &__container{
            &-heading.title-lg{
                font-size: 40px;
                line-height: 48px;
            }
        }
    }

    .about-info{

        &__experience{
            padding: 30px 20px;

            &-year{
                font-size: 55px;
                margin-right: 20px;
            }

            &-title-lg{
                font-size: 32px;
            }
        }
    }
}
