.case-study{
    padding: 120px 0 70px;

    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 35px;
    }

    &__item{
        position: relative;
        flex-basis: calc(50% - 15px);
        padding-bottom: 125px;

        &-wrapper{
            display: flex;
        }

        &-img{
            flex-grow: 1;
            object-fit: cover;
        }

        &-details{
            max-width: 355px;
            width: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 43px 50px;
            background-color: #fff;
            -webkit-box-shadow: 0px 16px 32px 0px rgba(32, 85, 125, 0.06);
            box-shadow: 0px 16px 32px 0px rgba(32, 85, 125, 0.06);
        }

        &-type{
            margin-top: 0;
            margin-bottom: 4px;
            text-transform: uppercase;
            color: var(--orange-color);
            font-size: 16px;
            line-height: 26px;
        }

        &-title{
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 24px;
            line-height: 34px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -1px;
            color: var(--blue-color);
        }

        &-desc{
            margin-top: 0;
            margin-bottom: 11px;
            font-size: 14px;
            line-height: 24px;
            color: var(--blue-color);
        }

        &-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
        }

        &-client{
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 0;

            span{
                color: var(--blue-color);
                font-weight: bold;
            }
        }
        
        &-time{
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 0;

            span{
                color: var(--blue-color);
                font-weight: bold;
            }
        }

        &-icon{
            width: 14px;
            color: var(--orange-color);
            stroke-width: 2;
        }
    }
}

@media only screen and (max-width: 990px) {
    .case-study{
        &__list{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            max-width: 570px;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 650px) {
    .case-study{
        &__item{
            &-details{
                max-width: unset;
                width: auto;
                left: 20px;
                right: 20px;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .case-study{
        &__item{

            &-img{
                height: 350px;
            }

            &-details{
                padding: 23px 30px;
                left: 10px;
                right: 10px;
            }
        }
    }
}