.contact-info{
    background: url("../../assets/images/world-map-bg.png") no-repeat center;
    background-size: cover;
    padding: 115px 0 120px;

    &__container{
        display: flex;
        gap: 30px;
    }

    &__title{
        margin-bottom: 14px;
    }

    &__heading{
        margin-bottom: 20px;
    }

    &__details{
        max-width: 450px;
        width: 100%;
    }

    &__map{
        flex-grow: 1;
        border: none;
    }

    &__item{
        display: flex;
        align-items: flex-start;
        gap: 30px;

        &:not(:last-of-type){
            margin-bottom: 40px;
            padding-bottom: 35px;
            border-bottom: 1px solid var(--light-blue-color);
        }

        svg{
            width: 26px;
            color: var(--orange-color);
        }

        &-title.title-lg{
            font-size: 26px;
            line-height: 30px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        &-text{
            color: var(--blue-color);
            margin: 0;
        }
    }
}

.contact-touch{
    background: url("../../assets/images/building-bg.png") no-repeat center;
    background-size: cover;
    padding: 90px 0 70px;

    // &__container{
    // }

    &__title{
        text-align: center;
        margin-bottom: 14px;
    }

    &__heading{
        text-align: center;
        margin-bottom: 45px;
    }

    &__form{
        display: flex;
        flex-direction: column;

        &-wrapper{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 30px;
            flex-wrap: wrap;
        }

        &-label{
            display: flex;
            padding: 20px 30px;
            align-items: center;
            flex-grow: 1;
            flex-basis: calc(33% - 10px);
            background-color: #fff;
            -webkit-box-shadow: 0px 16px 32px 0px rgba(32, 85, 125, 0.1);
            box-shadow: 0px 16px 32px 0px rgba(32, 85, 125, 0.1);

            svg{
               width: 18px;
               color: var(--orange-color); 
            }
        }

        &-label.textarea{
            align-items: flex-start;
            margin-bottom: 30px;
        }

        &-input{
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 16px;
            width: 100%;
        }

        &-textarea{
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 16px;
            width: 100%;
            resize: none;
        }
    }
}

@media only screen and (max-width:950px){
    .contact-info{
        &__container{
            flex-direction: column;
        }

        &__map{
            height: 450px;
        }
    }
}

@media only screen and (max-width:750px){
    .contact-info{
        &__heading.title-lg{
            font-size: 50px;
        }
    }
    
    .contact-touch{
        &__heading.title-lg{
            font-size: 50px;
        }
    }
}

@media only screen and (max-width:600px){
    .contact-touch{
        &__form{
            &-wrapper{
                flex-direction: column;
            }
        }
    }
}

@media only screen and (max-width:550px){
    .contact-info{
        &__heading.title-lg{
            font-size: 40px;
        }
    }

    .contact-touch{
        &__heading.title-lg{
            font-size: 40px;
        }
    }
}