.site-header{
    /*SITE HEADER INFO*/
    &__info{
        padding: 13px 0;
        background-color: #f1f9ff;
    }

    /*SITE HEADER NAVIGATION*/

    &__nav{
        position: relative;
        background-color: var(--blue-color);
        padding: 20px 0;

        &::before{
            content: "";
            position: absolute;
            left: -25px;
            bottom: 0;
            width: calc(35% + 25px);
            height: 120px;
            background-color: #fff;
            transform: skew(15deg);
        }
    }


}

.header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &__contact{
        display: flex;
        align-items: center;
        gap: 30px;
        margin-left: auto;
        margin-right: auto;

        &-link{
            display: flex;
            align-items: center;
            color: var(--blue-color);
            font-size: 14px;
            font-weight: 700;
            transition: 0.3s ease;

            &:hover{
                color: var(--orange-color);
            }
        }

        &-icon{
            flex-shrink: 0;
            width: 15px;
            margin-right: 5px;
        }
    }

    &__right{
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__socials{
        display: flex;
        align-items: center;
        gap: 10px;

        &-link{
            color: var(--blue-color);
            transition: 0.3s ease;

            &:hover{
                color: var(--orange-color);
            }
        }

        svg{
            width: 18px;
        }
    }

    &__lang{
        cursor: pointer;
        position: relative;

        &:hover &-current{
            color: var(--orange-color);
        }

        &:hover &-list{
            visibility: visible;
            opacity: 1;
            right: 0;
        }

        &-current{
            display: flex;
            align-items: center;
            flex-shrink: 0;
            font-size: 14px;
            font-weight: 700;
            color: var(--blue-color);
            transition: 0.3s ease;
        }

        &-icon{
            width: 18px;
        }

        &-list{
            position: absolute;
            top: calc(100% + 10px);
            right: 30px;
            background-color: #fff;
            width: 120px;
            padding: 10px 15px;
            border-top: 3px solid var(--orange-color);
            -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
            visibility: hidden;
            opacity: 0;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            z-index: 55;
        }

        &-item{
            font-weight: 500;
            font-size: 14px;
            color: var(--blue-color);
            text-transform: uppercase;
            transition: 0.3s ease;

            &:hover{
                color: var(--orange-color);
            }
        }
    }
}

.site-nav{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    &__list{
        display: flex;
        align-items: center;
        gap: 15px;
        transform: translateX(calc(-50% + 35px));
    }

    &__link{
        color: #fff;
        transition: 0.3s ease;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;

        &:hover{
            color: var(--orange-color);
        }
    }

    &__contact-link{
        color: #fff;
        padding: 12px 30px;
        transition: 0.3s ease;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;

        &:hover{
            background-color: var(--orange-color);
        }
    }
}

@media only screen and (max-width: 1800px) {
    .site-header{
        &__nav{
            &::before{
                width: calc(32% + 25px);
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .site-header{
        &__nav{
            &::before{
                width: calc(30% + 25px);
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .site-header{
        &__nav{
            &::before{
                width: calc(28% + 25px);
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .site-header{
        &__nav{
            &::before{
                width: calc(25% + 25px);
                height: 100%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .header-info{
        &__contact{
            margin-left: unset;
            
            &-email{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .header-info{
        flex-direction: column;
        align-items: stretch;

        &__contact{
            margin-left: auto;

            &-email{
                display: none;
            }
        }

        &__right{
            justify-content: space-between;
        }
    }
}